body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

h2, h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
}

p {
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #29260f;
    align-items: center; 
    align-self: center;
    padding: 20px;
}

header h2 {
    color: #2ce2c4;
}

.site-footer {
    background-color: rgb(231, 238, 240);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    color: white;
}

.row-content {
    padding: 15px 0;
    border-bottom: 1px ridge;
    min-height: 30px;
 
}

.navbar {
    background-color: #62c6ad;
    font-size: 14pt;
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #2ce2c4;
    
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.header .navigation-container  {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1045px;
}

.horizontal-line {
	width: 400px;
	height: 0px;
	opacity: 30%;
	border-color: #606060;
	border-width: .75px;
	border-style: solid;
}

.btn-shop {
    background-color: #62c6ad;
    color: white;
}

.products {
    color: #444444;
    text-align: left;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    max-width: 100%;
}

.modal-title {
    font:"Open sans";
    font-size: 16pt;
    color:white;
}

#subscribeModal .modal-header {
    background-color: #62c6ad;
    color: white;
}

.text-footer {
    color:#62c6ad;
    font-size: 10px;
}

.nav-footer {
    color:#62c6ad;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}